{{#if @route}}
<LinkTo ...attributes data-test-pop-up-menu="button-transition"
    class="block bg-green-800 hover:bg-green-700 active:bg-green-700 text-light text-lg text-center w-5/6 py-1 mb-2 mx-auto cursor-pointer"
    @route={{@route}}>
    {{yield}}
</LinkTo>
{{else}}
<button ...attributes data-test-pop-up-menu="button-action"
    class="block bg-green-800 hover:bg-green-700 active:bg-green-700 text-light text-lg text-center w-5/6 py-1 mb-2 mx-auto cursor-pointer"
    type="button" {{on "click" @action}}>{{yield}}</button>
{{/if}}