<XForm data-test-create-bucket-form class="pt-10 mx-4">

    <XForm::Input data-test-create-bucket-input
        class="mt-8 w-5/6 px-4 text-2xl font-semibold border-4 bg-gray-200 text-black outline-none" @color="black"
        @errorColor="red-600 " @errorLabelClasses="text-red-600 font-bold text-xl" @label="np. Agendy"
        @placeholderColor="gray-700" @property="title" @changeset={{@changeset}} />


    {{#if @collections.length}}

    <div class="text-center">
        {{#each @collections as |collection|}}
        <XForm::Checkbox data-test-create-bucket-collection
            class="text-2xl w-5/6 rounded-full outline-none bg-gray-200 border-4 mb-4 border-black"
            @activeClass="text-white bg-gray-900 border-gray-700" @label={{collection.title}} @property="collections"
            @changeset={{@changeset}} @value={{collection}} />
        {{/each}}
    </div>
    {{/if}}

    <div class="text-center">
        <XForm::Button data-test-create-bucket-submit
            class="w-5/6 mx-auto mt-6 py-4 text-2xl bg-gray-900 text-white font-semibold"
            @action={{fn this.createBucket @changeset}}>{{@buttonLabel}}</XForm::Button>
    </div>
</XForm>