<TopMenu @sideNav="true" @label={{@collection.title}} @model={{@bucektsAndCollections}}>
    {{#if @collection.lists.length}}
    <PopUpMenu @label={{@selectedList}}>
        <PopUpMenu::Button @route="user.collections.collection.lists.new" @model={{@collection}}>Nowa lista
        </PopUpMenu::Button>
        <PopUpMenu::Button @route="user.collections.collection.list.edit" @model={{@selectedList}}>Edytuj listę
        </PopUpMenu::Button>
        <PopUpMenu::Button @route="user.collections.collection.list.delete" @models={{@selectedList}}>Usuń listę
        </PopUpMenu::Button>
    </PopUpMenu>
    {{/if}}
</TopMenu>

<article class="container text-center">
    {{#if @collection.lists.length}}
    {{!-- TO DO --}}
    {{else}}
    <h1 class="text-2xl text-center mt-16 mb-8 mx-8 font-bold text-gray-300">Nie utworzyłeś jeszcze żadnej listy zadań
        do wykonania!</h1>
    <LinkTo class="text-2xl font-extrabold bg-green-600 rounded-lg py-4 w-64 mt-16 mx-auto px-12 hover:bg-green-400"
        @route="user.collections.collection.lists.new">UTWÓRZ LISTĘ</LinkTo>
    {{/if}}
</article>

{{yield}}