<button ...attributes class="text-center h-full" data-test-pop-up-menu="icon" type="button"
    {{on "click" (stop-propagation this.toggleOpen)}}>
    {{@buttonText}}
</button>


{{#if this.isOpen}}
<button type="button" data-test-pop-up-menu="background" class="bg-active {{if this.isOpen "bg-active-open"}}"
    {{on "click" this.toggleOpen}}>
</button>

<div data-test-pop-up-menu="menu"
    class="fixed pop-up-menu-cords left-0 right-0 mt-32 py-2 rounded-lg text-center mx-auto cursor-default w-4/5 sm:w-3/5 md:w-2/6 xl:w-2/5 z-20 {{@menuClasses}}">
    {{yield}}
</div>
{{/if}}