<XForm @title="Zarejestruj się" class="form-main text-main sm:w-1/2 md:1/4 pt-16 mx-auto max-w-screen-sm">
  <XForm::Input data-test-reg-form-input="email" @label="Email" @property="email" @changeset={{@changeset}} />
  <XForm::Input data-test-reg-form-input="password" type="password" @label="Hasło" @property="password"
    @changeset={{@changeset}} />
  <XForm::Input data-test-reg-form-input="repeatPassword" type="password" @label="Powtórz hasło"
    @property="repeatPassword" @changeset={{@changeset}} />

  <span data-test-reg-form-button="clear" onClick={{fn this.rollback @changeset}}
    class="inline-block text-center text-xl mt-6 cursor-pointer">Wyczyść
    zmiany</span>

  <XForm::Button data-test-reg-form-button="submit" class="mt-2 btn-main" @text="Zarejestruj się"
    @action={{fn this.createUser @changeset}} />

  <XForm::Redirection class="text-light" data-test-reg-form-redirection @infoText="Jeżeli już posiadasz konto"
    @linkText="ZALOGUJ SIĘ" @route="sign-in" />
</XForm>