<div data-test-input="div" class="">
  <label data-test-input="label" class="" for={{this.inputID}}>
    {{@label}}
  </label>
  <Input
    data-test-input="input"
    id={{this.inputID}}
    class=""
    @value={{get @changeset @property}}
  />

  {{#if this.error}}
    <span data-test-input="error-span" class="">
      <br />
      {{this.error}}
    </span>
  {{/if}}
</div>