<div data-test-input="div" class="text-center">
  <Input ...attributes data-test-input="input" id={{this.inputID}} class={{this.classes}} placeholder={{@label}}
    @value={{get @changeset @property}} />

  {{#if this.error}}
  {{yield}}
  <span data-test-input="error-span" class="{{@errorLabelClasses}}">
    <br />
    {{this.error}}
  </span>
  {{/if}}
</div>