<ol>
    {{#each @model.buckets as |bucket|}}
    <li>
        <h3>{{bucket.title}}</h3>
        <ol>
            {{#each bucket.collections as |bucketCollection|}}
            <li>
                <LinkTo @route="user.collections.collection" @model={{bucketCollection}}>
                    {{bucketCollection.title}}</LinkTo>
            </li>
            {{/each}}
        </ol>
    </li>
    {{/each}}
</ol>

<ol>
    {{#each @model.collections as |collection|}}
    <li>
        <LinkTo @route="user.collections.collection" @model={{collection}}>
            {{collection.title}}</LinkTo>
    </li>
    {{/each}}
</ol>

{{outlet}}