<TopMenu @sideNav="true" @label={{this.model.collection.title}}>
    {{#if this.model.collection.lists.length}}
    <PopUpMenu data-test-pop-up-menu-icon @buttonText="more_vert" class="material-icons" @menuClasses="bg-green-500">
        <h2 class="text-xl pt-1 pb-2 text-gray-900">{{this.currentList.title}}</h2>
        <PopUpMenu::Button data-test-pop-up-menu-new-list @route="user.collections.collection.lists.new"
            @model={{this.model.collection}}>Nowa lista
        </PopUpMenu::Button>
        <PopUpMenu::Button data-test-pop-up-menu-edit-list @route="user.collections.collection.list.edit"
            @model={{this.currentList}}>Edytuj listę
        </PopUpMenu::Button>
        <PopUpMenu::Button data-test-pop-up-menu-delete-list @route="user.collections.collection.list.delete"
            @model={{this.currentList}}>Usuń listę
        </PopUpMenu::Button>
    </PopUpMenu>
    {{else}}
    <LinkTo @route="user.collections" class="material-icons text-center py-1">arrow_back</LinkTo>
    {{/if}}
</TopMenu>

<article class="text-center">
    {{#if this.model.lists.length}}
    <nav class="flex bg-gray-900 pt-2 hidden-scrollbar text-green-500 overflow-x-scroll h-full w-full">
        {{#each this.model.lists as |list|}}
        <ListElement data-test-list-element
            class="font-bold text-xl px-3 mx-3 pb-2 whitespace-no-wrap box-content border-green-500 focus:outline-none"
            @list={{list}} @currentList={{this.currentList}} @setListAction={{this.chooseList}}
            @activeClasses="border-b-8" @unactiveClasses="border-b-4" />
        {{/each}}
    </nav>


    <TasksMenu @list={{this.currentList}} />
    {{else}}
    <h1 class="text-2xl text-center mt-16 mb-8 mx-8 font-bold text-gray-300">Nie utworzyłeś jeszcze żadnej listy zadań
        do wykonania!</h1>
    <LinkTo data-test-create-first-list-link
        class="text-2xl font-extrabold bg-green-600 rounded-lg py-4 w-64 mt-16 mx-auto px-12 hover:bg-green-400"
        @route="user.collections.collection.lists.new">UTWÓRZ LISTĘ</LinkTo>
    {{/if}}
</article>